.navbar-toggler[b-dwvujiiut8] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-dwvujiiut8] {
    align-items: center;
    height: 3.5rem;
    background: linear-gradient(to right, #444, #000);
    transition: background-color 0.3s ease;
}

.container-fluid[b-dwvujiiut8] {
    align-content: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.nav-item[b-dwvujiiut8]  a,
.nav-item[b-dwvujiiut8]  button {
    color: #0071c1;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 1.2rem 25px;
    margin: 1rem 0;
    transition: background-color 0.2s, color 0.2s;
}

.nav-item[b-dwvujiiut8]  .oi {
    margin-right: 10px;
    color: white;
}

.nav-item[b-dwvujiiut8]  a:hover,
.nav-item[b-dwvujiiut8]  button:hover {
    background-color: rgba(255, 255, 255, 0.20);
    color: white;
}

.nav-item[b-dwvujiiut8]  a.active,
.nav-item[b-dwvujiiut8]  button.active {
    background-color: rgba(255, 255, 255, 0.40);
    color: white;
}
