@page "/about"


    <h2>About</h2>
    <h5>Lidt info om projektets udvikling og forfattere</h5>
    <div class="container">
        <div class="containter-card">
   
            <h3>Hvem er vi?</h3>
            <h6>Michael og Jesper:</h6>
            <p>To passionerede softwareudviklere med en vision om at skabe innovative løsninger, der gør en forskel.</p>
            <h6>Vores Mission</h6>
            <p>Vi stræber efter at levere effektive og brugervenlige digitale løsninger, der forenkler hverdagen og forbedrer arbejdsprocesser.</p>

            <h3>Projektet</h3>
            <h6>Info:</h6>
            <p>
                Shift Tool er en innovativ webbaseret platform designet til at forenkle og effektivisere vagtplanlægning
                og skifteledelse. Primært rettet mod virksomheder og organisationer, tilbyder systemet en intuitiv brugergrænseflade,
                hvor medarbejdere nemt kan booke vagter, og ledere effektivt kan administrere og opdatere vagtplaner i realtid.
            </p>
            <h6>Fokus:</h6><p>
                Brugervenlighed og tilpasning, hvilket sikrer en problemfri planlægningsproces, samt en brugervenlig løsning.
            </p>

            <h3>Kerne funktioner</h3>
            <h6>Booking System:</h6><p>Let og intuitiv booking af vagter for medarbejdere.</p>
            <h6>Skifteplan Management:</h6><p>Overskuelig og fleksibel håndtering af arbejdsskifter.</p>
            <h6>Brugertilpasning:</h6><p> Tilpassede brugerprofiler for bedre oplevelse.</p>
            <h6>Real-time Opdateringer:</h6><p>Hold dig opdateret med de nyeste ændringer i planerne.</p>

            <h3>Teknologier brugt</h3>
            <h6>Frontend:</h6><p>Blazor WebAssembly</p>
            <h6>Backend:</h6><p>ASP.NET Core, REST API</p>
            <h6>Database:</h6><p>PostgreSQL</p>
            <h6>Yderligere Værktøjer:</h6><p>Dapper, Blazored, JSRuntime, NavigationManager</p>

            <h3>Hvad gør vores projekt unikt?</h3>
            <h6>Brugervenlighed:</h6><p>Letforståelig grænseflade designet til alle brugertyper.</p>
            <h6>Effektivitet:</h6><p>Reducerer tidsforbrug og forbedrer planlægningsprocesser.</p>
            <h6>Tilpasning:</h6><p>Fleksibilitet til at imødekomme specifikke behov.</p>

            <h3>Fremtidsvisioner</h3>
            <p>Vi er forpligtet til løbende at forbedre og tilpasse vores løsninger for at imødekomme fremtidige udfordringer og behov.</p>
            <h6>Kontakt Os</h6>
            <p>Har du spørgsmål eller feedback? Vi vil meget gerne høre fra dig!</p>
            <h6>Email:</h6> <p>eaa23mlch@students.eaaa.dk</p><p>eaa23jel@students.eaaa.dk</p>
            <h6>GitHub:</h6><a href="https://github.com/milacour" target="blank">Michaels Github</a><br /><a href="https://github.com/JesperEngel"target="blank">Jespers Github<br /></a>
            <br />
        <h3>Tak for dit besøg!</h3><p>Vi værdsætter din interesse og ser frem til at gøre en positiv forskel med Shift Tool.</p>
    </div>
</div>