@page "/"


<h2> Shift Tool</h2>
<h5>Din løsning til vagtplanlægning</h5>
<div class="container-card">

    <div class="card">
        <h4>Kom i gang</h4>
        <br />
        <p>Opret en konto og begynd at bruge Shift Tool til din vagtplanlægning</p>
        <br />
        <br />
        <div>
            <a href="/register" class="btn btn-primary">Opret konto</a>
        </div>
    </div>
    <div class="card">
        <h4>Allerede en bruger?</h4>
        <br />
        <p> Log ind med din eksisterende konto og få adgang til dine vagtskemaer</p>
        <br />
        <br />
        <div>
            <a href="/login" class="btn btn-success">Log ind</a>
        </div>
    </div>
</div>
