.sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

    .sidebar-logo img {
        top: 0;
        margin-top: -2.5rem;
        max-width: 8rem;
        height: auto;
        cursor: pointer;
        z-index: 1003;
    }

    .sidebar-logo:hover {
        transform: scale(1.05);
    }

.sidebar .oi {
    color: white;
    height: 1rem;
    padding-right: 0.5rem;
}


.nav-item {
    color: #0071c1;
    width: 75%;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    border: solid 1px white;
    text-decoration: none;
    background: linear-gradient(to right, #333, #000, #333);
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5em;
    transition: background-color 0.2s, color 0.2s;
}


    .nav-item:hover {
        transform: scale(1.05);
        background-color: rgba(255, 255, 255, 0.10)
    }

.nav-link {
    color: #0071c1;
    transition: color 0.2s;
}

    .nav-link .active {
        background-color: rgba(255, 255, 255, 0.40);
        color: white;
    }
